
@media only screen and (max-width: 1023px) {/*Стили этого запроса будут применяться только для экранных устройств с шириной области просмотра не более 1023px (Оператор and связывает друг с другом разные условия)*/
  
    .logo-link img {
        width: 105px;/*ширина*/
        height: 11px;/*высота*/
    }
    
    .img {
        width: 100%;/*ширина*/
        height: 100%;/*высота*/
    }
    
    .address {
        justify-content: flex-start;/*Блоки прижаты к началу главной оси.*/
        margin-left: 20px;/*отступа от левого края элемента*/
    }
    
    .address__text {
        margin: 0 10px;/*	Первое значение устанавливает отступ от верхнего и нижнего края, второе — от левого и правого.*/
        font-size: 13px;/*высота текста*/
        line-height: 15px;/*межстрочный интервал*/
    }
    
    .address__button {
        width: 57px;/*ширина*/
        font-size: 13px;/*высота текста*/
    }
    
    .address__input {
        width: 215px;/*ширина*/
        font-size: 13px;/*высота текста*/
    }
    
    .content__item {
        width: 49%;/*ширина*/
    }
    }
     
    
    @media only screen and (max-width: 1000px) {/*(Оператор only используется, чтобы скрыть стили от старых браузеров (поддерживающих синтаксис медиа-запросов CSS2)Стили этого запроса будут применяться только для экранных устройств с шириной области просмотра не более 1000px (Оператор and связывает друг с другом разные условия)*/
    .container {
        padding: 0 10px;/*Первое значение устанавливает поля от верхнего и нижнего края, второе — от левого и правого.*/
    }
    }
    
    @media only screen and (max-width: 940) {/* (Оператор only используется, чтобы скрыть стили от старых браузеров (поддерживающих синтаксис медиа-запросов CSS2)Стили этого запроса будут применяться только для экранных устройств с шириной области просмотра не более 940px (Оператор and связывает друг с другом разные условия)*/
    .footer-content__item,
    .footer-content__end {
        width: 230px;/*ширина*/
    }
    
    .language-list {
        background: url(./img/world.svg) no-repeat 15px 12px, url(./img/Shape.svg) no-repeat 150px 16px, #3b3b3b;/*2 фона, без повтора,Позволяет перемещаться фону вместе с содержимым,расстояние от левой , верхней стороны картинки до блока*/ 
        width: 176px;/*ширина*/
    }
    }
    
    
    @media only screen and (max-width: 750px) {/* (Оператор only используется, чтобы скрыть стили от старых браузеров (поддерживающих синтаксис медиа-запросов CSS2)Стили этого запроса будут применяться только для экранов цветных компьютерных мониторов с шириной области просмотра не более 750px (Оператор and связывает друг с другом разные условия)*/
    .footer-content__item,
    .footer-content__end {
        width: 180px;/*ширина*/
    }
    }
    
    
    @media only screen and (max-width: 725px) {/* (Оператор only используется, чтобы скрыть стили от старых браузеров (поддерживающих синтаксис медиа-запросов CSS2)Стили этого запроса будут применяться только для экранных устройств с шириной области просмотра не более 725px (Оператор and связывает друг с другом разные условия)*/
    .buttons {
        width: 205px;/*ширина*/
    }
    
    .button__link {
        width: 65px;/*ширина*/
    }
    }
    
    @media only screen and (max-width: 630px) {/*(Оператор only используется, чтобы скрыть стили от старых браузеров (поддерживающих синтаксис медиа-запросов CSS2)Стили этого запроса будут применяться только для экранных устройств с шириной области просмотра не более 639px (Оператор and связывает друг с другом разные условия)*/
    .buttons {
        width: 156px;/*ширина*/
    }
    
    .basket {
        display: none;/*временно удаляет элемент из документа. Занимаемое им место не резервируется и веб-страница формируется так, словно элемента и не было*/
    }
    
    .search {
        font-size: 13px;/*размер шрифт*/
        line-height: 24px;/*межстрочный интервал) текста, отсчет ведется от базовой линии шрифта*/
    }
    
    .address {
        display: none;/*временно удаляет элемент из документа. Занимаемое им место не резервируется и веб-страница формируется так, словно элемента и не было*/
    }
    
    .sm-address {
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;/*Включаем режим Flexbox*/
        justify-content: flex-start;/*Блоки прижаты к началу главной оси.*/
        width: 100%;/*ширина*/
        margin: 20px 0 0;/*Первое значение задает отступ от верхнего края, второе — одновременно от левого и правого края, а третье — от нижнего края.*/
    }
      
    .sm-address__item:first-child {
        margin-right: 20px;/*отступа от правого края элемента*/
    }
    
    .sm-address__item:last-child {
        width: 100%;/*ширина*/
    }
    
    .address__button {
        width: 65px;/*ширина*/
    }
    
    .address__text {
        margin: 0;/*Отступы будут установлены одновременно от каждого края элемента.*/
        height: 30px;/*высота*/
        font-size: 11px;/*размер шрифт*/
        line-height: 13px;/*межстрочный интервал) текста, отсчет ведется от базовой линии шрифта*/
    }
    
    .address__input {
        width: 100%;/*ширина*/
    }
    
    .button__link {
        width: 72px;/*ширина*/
        font-size: 11px;/*размер шрифт*/
        line-height: 13px;/*межстрочный интервал) текста, отсчет ведется от базовой линии шрифта*/
    }
    
    .content__item {
        width: 100%;/*ширина*/
    }
    
    .footer-content {
        flex-direction: column;/*блоки в столбик*/
        align-items: flex-start;/*Блоки прижаты к началу поперечной оси.*/
        margin-top: 32px;/*отступа от верхнего края элемента*/
    }
    
    .footer-content__item {
        margin: 0;/*Отступы будут установлены одновременно от каждого края элемента.*/
    }
    
    .footer-content__item:nth-child(2) {/*используется для добавления стиля к элементам на основе нумерации в дереве элементов*/
        padding: 40px 0 0;/*Первое значение задает поле от верхнего края, второе — одновременно от левого и правого края, а третье — от нижнего края.*/
        height: 140px;/*высота*/
    }
    
    .footer-content__item:nth-child(3) {/*используется для добавления стиля к элементам на основе нумерации в дереве элементов*/
        padding: 0;/*расстояние от внутреннего края рамки элемента до вооброжаемого пряоугольника, ограничивающего его содержимое*/
        height: 155px;/*высота*/
        margin: 20px 0 40px;/*Первое значение задает отступ от верхнего края, второе — одновременно от левого и правого края, а третье — от нижнего края*/
    }
    
    .download-content__item img {
        width: 124px;/*ширина*/
        height: 36px;/*высота*/
    }
    
    .footer-content__end {
        margin: 0 0 24px;/*Первое значение задает отступ от верхнего края, второе — одновременно от левого и правого края, а третье — от нижнего края*/
    }
    
    .footer-content__end:first-child {
        margin-top: 40px;/*отступа от верхнего края элемента*/
    }
    
    .footer-content__end:last-child {
        margin-bottom: 40px;/*величину отступа от нижнего края элемента*/
    }
    
    .btn-up {
        width: 64px;/*ширина*/
        height: 64px;/*высота*/
    }
    }