* {    /*свойство для всего*/
    margin: 0;   /*отступ отграницы текущего элемента до внутренней границы родителя*/
    padding: 0;  /*расстояние от внутреннего края рамки элемента до вооброжаемого пряоугольника, ограничивающего его содержимое*/
    box-sizing: border-box;   /*изменения алгоритма расчета ширины и высоты элемента. Свойства width и height включают в себя значения полей и границ, но не отступов (margin)*/
    text-decoration: none;   /*оформление текста -подчеркивание ссылок-отменяется*/
    list-style: none;   /*стиль маркера-в списке-нету*/
    font-family: "Roboto", sans-serif;  /*шрифт "Roboto", рубленные шрифты (шрифты без засечек или гротески)*/
    font-style: normal;  /*начертание шрифта-обычное */
    font-weight: normal;  /*насыщенность шрифта-нормальное начертание шрифта (которое установлено по умолчанию) эквивалентно 400*/
    font-size: 16px;  /* размер шрифта*/
    outline: none;  /*устанавливающее цвет, стиль и толщину внешней границы на всех четырех сторонах элемента-нет границы*/
  }
  
  
  header {   /*«шапку» сайта*/
    box-shadow: -4px 0 white, 4px 0 white, 3px 3px 6px rgba(138, 138, 138, 0.09);  /*маска белая сдвигается в лево, маска белая сдвигается в право,тень (3px сдвиг по Х, 3px сдвиг по У, радиус размытия, растяжение, (цвет, прозрачность 0.09)*/ 
  }
  
  a {
    color: #000;  /*цвет ссылки-черный*/
  }
  
  .container {
    max-width: 956px;  /*максимальную ширину элемента*/
    margin: 0 auto;  /*отступ отграницы текущего элемента до внутренней границы родителя-(0 auto - по середине)*/
  
  }
  
  .menu {
      white-space: nowrap; /* Запрещаем перенос строк */
      overflow: hidden; /* Обрезаем все, что не помещается в область */
      text-overflow: ellipsis; /* Добавляем многоточие */
      width: 310px;  /*ширина-без нее не будет работать...*/
  }
  
  .address {
    width: 389px;   /*ширина*/
  }
  
  .header-content {
    height: 72px;  /*высота*/
  } 
  
  .address__button {
    width: 65px;  /*ширина*/
    background: #fff;  /*цвет фона*/
    justify-content: center;  /*Блоки стоят по центру главной оси*/
    line-height: 24px;  /*межстрочный интервал*/
  }
  
  .address__input {
    background: url(./img/navigate.svg) no-repeat scroll 11px 11px;  /*фон, без повтора,Позволяет перемещаться фону вместе с содержимым,размеры картинки*/ 
    width: 292px;  /*ширина*/
    padding-left: 36px;  /*значение поля от левого края содержимого элемента*/
    line-height: 24px;  /*межстрочный интервал*/
  }
  
  .buttons {
    width: 223px;  /*ширина*/
  }
  
  .button__link {
    width: 80px;  /*ширина*/
    justify-content: center;  /*Блоки стоят по центру главной оси*/
    font-weight: 500;  /*насыщенность шрифта-толще нормального*/
    font-size: 13px;  /*размер шрифта*/
    line-height: 24px;  /*межстрочный интервал*/
  }
  
  .address,
  .sm-address,
  .header-content,
  .buttons {
    display: flex;  /*Включаем режим Flexbox*/
    justify-content: space-between;  /*Распределяем элементы внутри шапки*/
    align-items: center;  /*Выравниваем элементы вертикально по центру*/
  }
  
  .address__button,
  .address__text,
  .address__input,
  .button__link {
    display: flex;  /*Включаем режим Flexbox*/
    align-items: center;  /*Выравниваем элементы вертикально по центру*/
    height: 40px;  /*высота 40px*/
  }
  
  .address__button,
  .address__input,
  .button__link {
    border: 1px solid #e0e0e0;   /*толщину, стиль и цвет границы вокруг элемента*/
    box-sizing: border-box;  /*изменения алгоритма расчета ширины и высоты элемента. Свойства width и height включают в себя значения полей и границ, но не отступов (margin)*/
    border-radius: 2px;  /*радиус скругления уголков рамки*/
  }
  
  .address__button:focus,
  .address__input:focus  /*стиль для элемента получающего фокус*/
   {  /*стиль для элемента получающего фокус*/
    border: 1px solid #000;  /*толщину, стиль и цвет границы вокруг элемента*/
  }
  
  .address__button:hover{  /*состояние ссылки при наведённом на неё курсоре мыши*/
  background-color: #59BD5A;  /*цвет фона*/
  }
  
  .b-black {
    background-color: #000;  /*цвет фона*/
    color: #fff;  /*цвет шрифта*/
  }
  
  .b-black:hover {  /*состояние ссылки при наведённом на неё курсоре мыши*/
    background-color: #59BD5A;  /*цвет фона*/
  }
  
  .b-withe:hover {  /*состояние ссылки при наведённом на неё курсоре мыши*/
    background-color: #59BD5A;  /*цвет фона*/
  }
  
  .basket {
    -webkit-transition: all 0.3s ease-in-out;  /*эффект перехода между двумя состояниями элемента, они могут быть определены с помощью псевдоэлемента :hover (Применяет эффект перехода ко всем свойствам элемента,Время перехода,Переход медленно начинается и медленно заканчивается)*/
  }
  
  .search {
    background: url(./img/search.svg) no-repeat scroll 0 16px;  /*фон, без повтора,Позволяет перемещаться фону вместе с содержимым,расстояние от левой , верхней стороны картинки до блока*/ 
    border: none;  /*границы вокруг элемента-нет*/
    border-bottom: 1px solid #757575;  /*толщину, стиль и цвет границы внизу элемента*/
    opacity: 0.5;   /*прозрачности элемента-поупрозрачный*/
    padding-left: 30px;  /*значение поля от левого края содержимого элемента*/
    margin-top: 19px;  /*отступа от верхнего края элемента*/
    height: 54px;  /*высота*/
    width: 100%;  /*ширина*/
  }
  
  .search:focus {  /*стиль для элемента получающего фокус*/
    opacity: unset;  /*прозрачности элемента- наследуется, как у родителя, если нет — то по умолчанию*/
  }
  
  .sm-address {
    display: none;  /*Временно удаляет элемент из документа*/
  }
  
  .main-title {
    margin-top: 56px;  /*отступа от верхнего края элемента*/
    font-size: 22px;  /*размер шрифта*/
    line-height: 34px;  /*межстрочный интервал*/
  }
  
  .content,
  .text-box {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;  /*Включаем режим Flexbox*/
    justify-content: space-between;  /*Распределяем элементы внутри шапки*/
    flex-wrap: wrap;  /*многострочную расстановку блоков по главной оси - Блоки выстраиваются в несколько строк, если не помещаются в одну.*/
  }
  
  .content {
    margin-bottom: 80px;  /*величину отступа от нижнего края элемента*/
  }
  
  .content__item {
    margin-top: 16px;  /*отступа от верхнего края элемента*/
    width: 308px;  /*ширина*/
  }
  
  .content__item:hover {  /*состояние ссылки при наведённом на неё курсоре мыши*/
    background: #59BD5A;  /*цвет фона*/
    -webkit-transition: all 0.3s ease-in-out;  /*эффект перехода между двумя состояниями элемента, они могут быть определены с помощью псевдоэлемента :hover (Применяет эффект перехода ко всем свойствам элемента,Время перехода,Переход медленно начинается и медленно заканчивается)*/
  }
  
  .img-box {
    overflow: hidden;  /*правляет отображением содержания блочного элемента, если оно целиком не помещается и выходит за область заданных размеров.-Отображается только область внутри элемента, остальное будет скрыто*/
  }
  
  .img {
    display: block;  /*Элемент показывается как блочный. -происходит перенос строк в начале и в конце содержимого*/
    -webkit-transition: all 0.3s ease-in-out;  /*эффект перехода между двумя состояниями элемента, они могут быть определены с помощью псевдоэлемента :hover (Применяет эффект перехода ко всем свойствам элемента,Время перехода,Переход медленно начинается и медленно заканчивается)*/
  }
  
  .text-box {
       display: flex;
    flex-direction: column;  /*задаём направление дочерних элементов по вертикали. Это позиционирует все разделы друг под другом.*/
    padding: 16px 0 20px;  /*Первое значение задает поле от верхнего края, второе — одновременно от левого и правого края, а третье — от нижнего края*/
  }
  
  .name {
    line-height: 24px;  /*межстрочный интервал*/
  }
  
  .menu {
    padding: 4px 0;  /*Первое значение устанавливает поля от верхнего и нижнего края, второе — от левого и правого.*/
    font-size: 14px;  /*размер шрифта*/
    line-height: 21px;  /*межстрочный интервал*/
    color: #626262;  /*цвет текста */
  }
  
  .time {
    font-size: 13px;  /*высота текста*/
    line-height: 21px;  /*межстрочный интервал*/
    color: #1d1d1d;  /*цвет текста */
  }
  
  .footer {
    background: #262626;  /*цвет фона*/
    color: #fff;  /*цвет текста */
  }
  
  .footer-logo {
    border-bottom: 1px solid rgb(143, 141, 141);  /*толщину, стиль и цвет границы внизу элемента*/
    width: 100%;  /*ширина*/
    padding: 56px 0 40px;  /*Первое значение задает поле от верхнего края, второе — одновременно от левого и правого края, а третье — от нижнего края.*/
  }
  
  .footer-content,
  .footer-content__item,
  .footer-text,
  .footer-icons,
  .download-content {
    display: flex;/*Включаем режим Flexbox*/
    justify-content: space-between;/*Распределяем элементы внутри шапки*/
    align-items: center;/*Выравниваем элементы вертикально по центру*/
    flex-wrap: wrap;/*многострочную расстановку блоков по главной оси - Блоки выстраиваются в несколько строк, если не помещаются в одну.*/
  }
  
  .footer-content__item,
  .footer-content__end {
    flex-direction: column;/*Меняем оси шапки, делая её вертикальной.*/
    align-items: unset;/*центрирования элемента по вертикальной оси-как у родителя или по умолчанию (stretch-Блоки растянуты, занимая все доступное место по поперечной оси, при этом все же учитываются min-width и max-width, если они заданы. Если же задана ширина и высота для элементов - stretch будет проигнорирован.)*/
    width: 300px;/*ширина*/
    height: 133px;/*высота*/
    margin: 32px 0 48px;/*отступа от каждого края элемента-Первое значение задает отступ от верхнего края, второе — одновременно от левого и правого края, а третье — от нижнего края*/
  }
  
  .language-list {
    background: url(./img/world.svg) no-repeat 15px 12px,/*2 фона, без повтора,Позволяет перемещаться фону вместе с содержимым,расстояние от левой , верхней стороны картинки до блока*/ 
      url(./img/Shape.svg) no-repeat 203px 16px, #3b3b3b;
    padding: 0 30px 0 48px;/*задаются отступы для всех сторон элемента в такой последовательности: сверху, справа, снизу, слева*/
    width: 227px;/*ширина*/
    height: 40px;/*высота*/
    border-radius: 2px;/*Радиус указывается для всех четырех уголков*/
    color: #fff;/*цвет текста */
    border: none;/*установить толщину, стиль и цвет границы вокруг элемента*/
    font-size: 13px;/*высота текста*/
    line-height: 15px;/*межстрочный интервал*/
    -webkit-appearance: none;/*Убираем рамку в Chrome и Safari */
  }
  
  .language-list__item {
    font-size: 13px;/*высота текста*/
    line-height: 15px;/*межстрочный интервал*/
  }
  
  .sharp {
    color: #49A144;/*цвет текста */
  }
  
  .footer-text {
    width: 75px;/*ширина*/
  }
  
  .footer-icons {
    width: 94px;/*ширина*/
  }
  
  .footer-icon__link {
  
    width: 24px;/*ширина*/
    height: 24px;/*высота*/
  }
  
  .footer-content__item:nth-child(2) {
    padding: 5px 0 38px;/*задается отступ сначала для верхней стороны, потом одновременно для левой и правой, а затем – для нижней:*/
  }
  
  .footer-content__item:nth-child(3) {
    padding-top: 5px;/*задаются одинаковые отступы для всех сторон элемента:*/
  }
  
  .footer-link {
    font-size: 13px;/*высота текста*/
    line-height: 15px;/*межстрочный интервал*/
    color: #fff;/*цвет текста */
  }
  
  .footer-link:hover {
    color: #59BD5A;/*цвет текста */
  }
  
  .download-content {
    justify-content: center;/*выравнивание элементов вдоль главной оси-Блоки стоят по центру главной оси*/
    height: 120px;/*высота*/
    width: 100%;/*ширина*/
    border-top: 1px solid rgb(143, 141, 141);/* установить толщину, стиль и цвет границы сверху элемента*/
    border-bottom: 1px solid rgb(143, 141, 141);/* установить толщину, стиль и цвет границы снизу элемента
  }
  
  .download-content__item:first-child {
    margin-right: 20px;/*Устанавливает величину отступа от правого края элемента*/
  }
  
  .download-content__item:last-child {
    margin-left: 20px;/*Устанавливает величину отступа от левого края элемента*/
  }
  
  .footer-content__end {
    height: auto;/*устанавливает высоту исходя из содержимого элемента*/
    margin-top: 40px 0;/*Устанавливает величину отступа от верхнего края элемента*/
  }
  
  .text-end {
    font-size: 11px;/*высота текста*/
    line-height: 13px;/*межстрочный интервал*/
  }
  
  .btn-up {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;/*Включаем режим Flexbox*/
    position: fixed;/*position позволяет сдвигать элемент со своего обычного места-элемент остается на своем месте и не прокручивается вместе со страницей*/
    justify-content: center;/*выравнивание элементов вдоль главной оси-Блоки стоят по центру главной оси*/
    align-items: center;/*Блоки стоят по центру поперечной оси.*/
    right: 16px;/*расстояние от правого края родительского элемента, не включая отступ, поле и ширину рамки, до правого края дочернего элемента*/
    z-index: 1;/*слои-Чем больше значение, тем выше находится элемент*/
    bottom: 24px;/*расстояние от нижнего края родительского элемента, не включая отступ, поле и ширину рамки, до низа края дочернего элемента*/
    width: 80px;/*ширина*/
    height: 80px;/*высота*/
    background: #59BD5A;/*цвет фона*/
    border-radius: 2px;/*Радиус указывается для всех четырех уголков*/
  }
  
span{
    padding-left:10px;
}
